.caption {
    animation: left-to-right 1s linear forwards;
    animation-delay: 300ms;
}

@keyframes left-to-right {
    0% {
        transform: translateY(12px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}